.page-error{
	.text-error{
		color: $color4;
		font-size: 3.6rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		p{
			margin: 0;
			line-height: 1.2;
		}
		.code{
			line-height: 1;			
		}
	}

	.main{
		padding-bottom: 8rem;
	}

	.code{
		font-weight: bold;
		font-size: 15rem;
	}
}