.webp{
	.homepage{
		background-image: url(../images/bg/bg-1.webp);
		.about{
			background-image: url(../images/bg/bg-3.webp);			
		}
	}

	.history{
		background-image: url(../images/bg/bg-4.webp);
	}

	.linkbox{
		background-image: url(../images/bg/bg-5.webp);
	}
}





.homepage,
.inner,
.modal-menu,
.about,
.history,
.linkbox
{
	background-repeat: no-repeat;
	// background-size: cover;
}

.bg-right{
	background-position: right top;
}

.homepage
{
	background-image: url(../images/bg/bg-1.jpg);
	background-position: left 80px;
	.about{
		background-image: url(../images/bg/bg-3.jpg);
		// background-position: right top;
	}
}

.history{
	background-image: url(../images/bg/bg-4.jpg);
}


.linkbox{
	background-image: url(../images/bg/bg-5.jpg);
}
