/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	font-family: Avanti;
	@include font-size(1.4);
	font-display: swap;
	// height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "plate"
							 "footer";
		grid-template-rows: auto 1fr auto auto;
	}


	@media (min-width: 992px){
		.grid-lg-2{
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}	
		.grid-lg-3{
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
		}		
		.d-lg-grid{
			display: grid !important;
		}
	}
	@media (min-width: 1250px){
		.grid-xl-6{
			grid-template-columns: repeat(6, 1fr)
		}		
	}
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color: $color3; transition: .3s}
h1{
	font-size:3rem;
	color: $color3;
	text-transform: uppercase;
	span{
		border-bottom: 1px solid $color4;
	}
}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


.ucase{
	text-transform: uppercase;
}

.flex{
	display: flex;
}


strong,
.bold{
}
em, i, 
.italic{
}

strong em,
em strong
{
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {

}


.btn{
	border: 1px solid;
	display: inline-block;
	font-size: 1.4rem;
	margin-left: 1.3rem;
	margin-top: 2rem;
	margin: 0 1.3rem;
	padding: .3rem 2.3rem;
	position: relative;
	text-decoration: none;
	&-green{
		color: $color4;		
		&:before{
			border-top-color: $color4
		}
	}
	&:before{
		@extend .before;
		border-top: 1px solid $color4;
		left: -1.3rem;
		top: -18px;
		width: calc(100% + 26px);
	}
	&:hover{
		color: $color2;
		text-decoration: none;
		&.btn{
			&-green{
				background-color: $color4
			}
		}
	}
}


/* =header
---------------------------*/
.header{
	padding: 4.5rem 0 20rem;
}

.logo{
	align-items: center;
	color: $color3;
	display: flex;
	font-size: 3rem;
	font-weight: bold;
	justify-content: center;
	img{
		display: block;
		margin: -1.2rem 1rem 0;
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
.navmenu{
	font-size: 1.8rem;
	margin-top: 5.5rem;
	.nav{
		display: flex;
		justify-content: center;
		left: -30px;
		position: relative;
		& > li{
			margin: 0 2.4rem;
			&.active{
				& > a, 
				& > span{
					cursor: default;
					border-bottom-color: $color4;
				}
			}


			a{
				color: $color1;
				border-bottom: 1px solid rgba(255,255,255,0);
				&:hover{
					border-bottom-color: $color4;
					text-decoration: none;
				}
			}
		}
	}
	.subnav{
		margin-top: 2.5rem;
		position: absolute;
		ul{
			display: flex;
			li{
				margin-right: 1.8rem;
				padding-right: 1.8rem;
				position: relative;
				&:after{
					@extend .before;
					border-right: 1px solid $color3;
					height: 12px;
					right: 0;
					top: 7px;
				}
				&.active{
					a, span{
						border-bottom-color: $color4;
					}
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}
			a{
				color: #666;
				border-bottom: 1px solid rgba(255,255,255,0);
				&:hover{
					border-bottom-color: $color4;
					text-decoration: none;	
				}
			}
		}
		// display: none;
	}
}
/* =/navigation
---------------------------*/


/* =main
---------------------------*/
.visually-hidden{
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}




/* =plate
---------------------------*/
.plate{
	background-color: $color4;
	color: $color2;
	font-size: 1.8rem;
	margin-top: 1.6rem;
	padding: 2.5rem 0;
	text-align: center;
	a{
		color: currentColor;
		@extend .tdu;
	}
}
/* =/plate
---------------------------*/


.contacts{
	header{
		margin-bottom: 4rem;
	}
}

/* =footer
---------------------------*/
.footer	.lastprojects__item,
.history .slick-slide
{
	position: relative;
	a{
			display: block;
			&:before,
			&:after{
				@extend .before;
				opacity: 0;
				transition: opacity .3s;		
			}
			&:before{
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background-color: rgba(48, 121, 122, .5);
			}
			&:after{
				background: url(../images/arrow-more.png) no-repeat center;
				height: 40px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 40px;
			}
			&:hover{
				opacity: 1;
				&:before,
				&:after{
					opacity: 1;
				}
			}
	}
}


.footer{
	background-color: #fff;
	font-size: 1.5rem;
	padding: 2.5rem 0 1rem;
	.title{
		font-size: 1.8rem;
		font-weight: normal;
		line-height: 1.2;
		margin-bottom: 1.8rem;
		a{
			color: $color1;
			border-bottom: 1px solid $color4;
			&:hover{
				text-decoration: none;
				border-bottom: none;
			}
		}
	}

	.logo{
		display: flex;
		align-items: center;
	}

	dd{
		margin-bottom: .2rem;
	}

	&__menu{
		a{
			&:hover{
				color: $color3;
				text-decoration-color: $color4;
			}
		}
	}
	.lastprojects{
		&__item{
			margin-right: 1.8rem;
			margin-bottom: 1.8rem;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}

	.social{
		a{
			align-items: center;
			border-radius: 50%;
			border: 1px solid #ababab;
			display: flex;
			height: 3.8rem;
			justify-content: center;
			width: 3.8rem;
			img{
				filter: grayscale(1) brightness(1.2);
				transition: filter .3s;
			}
			&:hover{
				border-color: $color4;
				img{
					filter: none;
				}
			}
		}
		li{
			margin-right: .6rem;
			margin-bottom: .8rem;
			&:last-child{
				margin-right: 0;
			}			
		}
	}

	.copyright,
	.creators
	{
		font-size: 1.3rem;
		a{
			@extend .tdu;
			color: $color4;
		}
	}

	.copyright{
		// margin-top: 4.5rem;
	}

	.copyright-creators{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.creators{
		font-size: 1.3rem;
		margin-top: 3.5rem;
		margin-bottom: .2rem;
		p{
			white-space: nowrap;
		}
	}
}
/* =/footer
---------------------------*/


.transparent-overlay{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	// background-color: rgba(0,0,0,.5)
}