::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.inner{
		.activity__menu{
			justify-content: flex-start !important;
		}
		.activity__plate{
			margin-right: 3rem;
			margin-bottom: 3rem;
		}
	}
}