.slogan{
	color: $color4;
	font-size: 3.6rem;
	line-height: 1;
	// padding-left: 42%;
	padding-left: 850px;
	padding-top: 28.5rem;
	.num{
		line-height: .8;
		font-weight: bold;
		font-size: 15rem;
	}
}


// =gradline
.catline{
	margin-top: 10rem;
	position: relative;
	.cats{
		display: flex;
		font-size: 1.8rem;
		font-weight: bold;
		padding-left: 26%;
		text-transform: uppercase;
		li{
			border-left: 1px solid $color4;
			height: 4.2rem;
			padding-left: .8rem;
			padding-top: 1.5rem;
			width: 33%;
			a.active{
				color: $color4;
			}
		}
		a{
			&:hover{
				color: $color4;
				text-decoration: none;
			}
		}
	}
}
.grad-line{
	background: linear-gradient(to right, #8bb2ba 0%, #30797a 100%);
	height: 2.8rem;
	// margin-top: 10rem;
	position: relative;
	&-hover{
		background: url(../images/cat-arrow-hover.gif);
		height: 2.8rem;
		left: 0;
		// opacity: 0;
		z-index: -1;
		position: absolute;
		top: 0;
		width: 1px;
		will-change: width
	}
	&:before{
		@extend .before;
		background: url(../images/cat-arrow.gif) no-repeat;
		height: 40px;
		right: -16px;
		top: -6px;
		width: 16px;
	}

	&:hover{
		z-index: 1;
		.grad-line-hover{
			opacity: 1;
		}
	}
}
// =/gradline

#modal-history{transform: none; margin-left: -25%;}
#modal-projects{transform: translateX(-50%);}
#modal-bim{transform: translateX(10%);}

.modal-cat{
	background: $color4;
	color: $color2;
	left: 50%;
	opacity: 0;
	padding: 2.5rem 1.5rem;
	position: absolute;
	top: 70px;
	transform: translateX(-50%);
	transition: opacity .3s;
	width: 55rem;
	z-index: -1;
	&.show{
		z-index: 10;
		opacity: 1;
	}

	.link{
		&:after{
			@extend .before;
			background: url(../images/arrow-more.png) no-repeat left top;
			height: 40px;
			left: 50%;
			opacity: 0;
			top: 50%;
			transform: translate(-50%,-50%);
			transition: opacity .3s;
			width: 40px;
			z-index: 10;
		}
		&:hover:after{
			opacity: 1;
		}
	}

	.title{
		font-size: 1.8rem;
		padding-bottom: .5rem;
	}
	.carousel{
		margin-top: 2rem;
		margin-left: auto;
		margin-right: auto;
		width: 460px;
		display: flex;
		&.slick-initialized{
			display: block;
		}
		.slick-slide{
			text-align: center;
		}
		a{
			display: block;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			height: 70px;
			width: 70px;
			&:before{
				@extend .before;
				background-color: rgba(48, 121, 122, .5);
				z-index: 1;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				opacity: 0;
				transition: opacity .3s;
			}
			&:hover{
				&:before,
				&:after{
					opacity: 1;
				}
			}
		}
	}

	.slick{
		&-arrow{
			filter: invert(1);
			width: 18px;
			height: 15px;
			padding: 0;
			img{
				display: block;
			}
		}
		&-prev{
			left: -30px;
			transform: scale(-1, 1) translateY(-50%);
		}
		&-next{
			right: -30px;
		}

	}
}


.homepage{
	.history{
		min-height: 615px;
		margin-top: -30rem;
		.cd-timeline{
		}
		.cd-timeline-block{
			margin-bottom: 11rem;
		}
		.cd-timeline-content{
			width: 85%;
		}
	}


	.timeline{
		padding-bottom: 1px;
		margin-bottom: 8rem;
	}

	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date{
		left: 15%;
		right: auto;
		text-align: left;
	}

	.cd-timeline-block:nth-child(even) .cd-timeline-content{
		float: left;
	}


	.cd-timeline-img{
		margin-left: -20px;
	}
	
	.timeline:before,
	.cd-timeline-img{
		left: 0
	}

	.cd-timeline-content .cd-date{
		left: 35px !important;
	}
	.cd-timeline-content{
		width: 90%;
		.cd-date {
			top: 0;
		}
	}


	.projects{
		margin-top: -4rem;
		header{
			padding-left: 32%;
		}
		&__list{
			margin-top: 3.4rem;
		}

		$mt : 0px;
		@for $i from 1 through 4{
			&__item:nth-child(#{$i}){
				margin-top: $mt;
			}
			$mt: $mt + 16;
		}
		.more{
			margin-left: 56%;
			margin-top: 3.5rem;
		}
	}


	// news__list
	.news__list{
		margin-top: 1.5rem;
		.single-carousel{
			display: none !important;
		}
	}
}


.project{
	&__desc{
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: background-color .3s;
	}
	&__link{
		color: $color2;
		display: block;
		position: relative;
		width: 27.8rem;
		&:hover{
			.project__desc{
				background-color: rgba(48, 121, 120, .5);				
			}
			color: $color2;
		}
	}
	&__num{
		font-size: 1.8rem;
		line-height: 1.2;
		margin-top: 2rem;
		padding-left: 3.4rem;
		position: relative;
		&:before{
			@extend .before;
			border-top: 5px solid $color2;
			bottom: 0;
			left: 0;
			margin-top: 5px;
			top: 50%;
			width: 2.5rem;
		}
		span{
			font-size: 3rem;
		}
	}
	&__title{
		font-size: 2.4rem;
		font-weight: normal;
		line-height: 1.4;
		padding-bottom: 1rem;
		text-transform: uppercase;
	}
	&__subtitle{
		border-top: 1px solid $color2;
		font-size: 1.6rem;
		line-height: 1.2;
		padding-top: 1rem;
	}

	&__bottom{
		margin-bottom: 3rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}


.lastnews{
	margin-top: -10rem;
	margin-bottom: 3.5rem;
	padding-top: 20.8rem;
}


.about{
	font-size: 1.6rem;
	margin-top: 6.3rem;
	min-height: 850px;
	p{
		margin: 3rem 0;
	}
}


.homepage{
	.activity{
		&__menu{
			margin: 4rem 3.3rem;
		}	
	}
}


.activity{
	margin-top: 6.5rem;
	h1{
		margin-bottom: 4rem;
	}

	&__link{
		background-color: $color2;
		border: 1px solid $color4;
		color: $color6;
		display: block;
		height: 100%;
		margin: 0 auto;
		max-width: 27rem;
		padding: 2rem 1rem;
		text-align: center;
		text-decoration: none;
		&:hover{
			background-color: $color4;
			color: $color2;
			text-decoration: none;
			.activity{
				&__pic{
					filter: grayscale(1) brightness(5);
				}
			}
		}
	}
	&__pic{
		align-items: center;
		display: flex;
		height: 14rem;
		justify-content: center;
	}
	&__text{
		p{
			margin: 0;
		}
	}
}



#activity-carousel{
	.slick{
		&-arrow{
			// filter: invert(.5) opacity(.6);
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			// transition: .3s;
			&:hover{
				// filter: none;
			}
		}
		&-prev{
			// left: -25px;
			transform: translateY(-50%) rotate(180deg);
		}
		&-next{
			// right: -25px;
		}
	}
}


.linkbox{
	font-size: 3rem;
	font-weight: bold;
	margin-top: -3.5rem;
	min-height: 725px;
	padding-top: 11rem;
	text-transform: uppercase;
	li{
		background: url(../images/quote-left.png) no-repeat left center;
		margin-left: 4.2rem;
		margin-top: 4.5rem;
		padding-left: 55px;
		&:nth-child(2){
			margin-left: 11rem;
		}
		&:nth-child(3){
			margin-left: 19rem;
		}
		&:nth-child(4){
			margin-left: 26rem;
		}
	}
	a{
		border-bottom: 1px solid $color4;
		color: $color3;
		&:hover{
			border-bottom: rgba(0,0,0,0);
			text-decoration: none;
		}
	}
}


// news__list
.news{
	&__item{
		margin: 4rem 0;
	}
}

.item-news{
	&__desc{
		margin-left: 2.4rem;
	}
	&__title{
		color: $color5;
		font-size: 1.8rem;
		font-weight: normal;
		line-height: 1.2;
		margin-top: .8rem;
		text-transform: uppercase;
	}
	&__text{
		color: $color6;
		line-height: 1.7;
		margin: 3.5rem 0 1.2rem;
	}

	&__date{
		color: $color6;
		display: block;
		margin-top: 2rem;
	}

	&__link{
		border-bottom: 1px solid $color4;	
		color: $color7;
		display: inline-block;
		&:hover{
			border-bottom-color: rgba(255,255,255,0);
			color: $color7;
			text-decoration: none;
		}
	}
}

.inner{
	.item-news__text{
		margin-top: 2rem;
	}
}
