main{
	// font-size: 1.6rem;
	padding-bottom: 3rem;
	color: $color6;

	
	h1, h2, h3, h4, h5, h6{
		color: #666;
		line-height: 1.2;
	}
	
	h1{
		margin-bottom: 2rem;
	}

	h2, h3, h4, h5, h6{
		margin-bottom: .2rem;
		& + p{
			margin-top: .2rem;
		}
	}

	h2{
		// font-size: 1.8rem;
		font-size: 2.8rem;
		// font-weight: normal;
	}

	h3{
		font-size: 2.6rem;
		margin: 1rem 0;
	}


	h4{
		font-size: 2.4rem;
	}


	h5{
		font-size: 2.2rem;
	}

	h6{
		font-size: 2rem;
	}

	p{
		line-height: 1.8;
		// margin: 3rem 0 ;
		margin: .5rem 0 ;
	}

	a{
		color: $color4;
		&:hover{color: $color4;}
		@extend .tdu;
	}

	strong, b{
		font-weight: bold;
	}
	.uppercase{
		font-size: 1.8rem;
		margin-bottom: 0;
		text-transform: uppercase;
	}


	table{
		margin-top: 1.5rem;
		font-size: 1.4rem;
		th{
			font-weight: bold;
		}

		th,
		td{
			color: #404040;
			border: 1px solid #ccc;
			padding: 1rem 2.5rem;
		}

		a{
			color: $color4;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}


	.table{
		margin-top: 1.5rem;
		th{
			font-weight: bold;
		}
		th,
		td{
			border: 1px solid #ccc;
			color: #404040;
			padding: .7rem 2.5rem;
		}

		a{
			color: $color4;
		}

	}

	ul{
		list-style: none;
		li{
			margin: 1rem 0;
			padding-left: 1.2rem;
			position: relative;
			&:before{
				@extend .before;
				background-color: $color4;
				border-radius: 50%;
				height: 6px;
				left: 0;
				top: 7px;
				width: 6px;
			}
		}
	}

	ol{
		counter-reset: li;  
		list-style: none;
		li{
			margin: 1rem 0;
			padding-left: 20px;
			position: relative;
			&:before{
				color: $color4;
				content: counter(li, decimal) ".";
				counter-increment: li;
				font-size: 14px;
				left: 0;
				position: absolute;
				top: 0;
				width: 20px;
			}
		}
	}

	.gallery{
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		a{
			margin-bottom: 2rem;
			display: block;
		}
	}
}


.main{
	#map{
		height: 32rem;
	}
}
.inner-to-actioners{
	main{
		p{
			margin: 2rem 0;
		}
		p a{
			color: $color1;
			&:hover{color: $color4;}

			&[href$=".pdf"],
			&[href$=".rar"]
			{
				min-height: 40px;
				display: inline-block;
				padding-top: 7px;
				position: relative;
				padding-left: 53px;
				&:before{
					@extend .before;
					align-items: center;
					background-color: #a6a6a6;
					border-radius: 50%;
					color: $color2;
					display: flex;
					height: 40px;
					justify-content: center;
					left: 0;
					transition: background-color .3s;
					text-align: center;
					text-transform: uppercase;
					width: 40px;
					top: 0;
				}
				&:hover{
					&:before{
						background-color: $color4;
					}				
				}
			}

			&[href$=".pdf"]{
				&:before{
					content: "PDF";
				}
			}
			&[href$=".rar"]{
				&:before{
					content: "RAR";
				}
			}
		}
	}
}


.inner{
	.header{
		padding-bottom: 11rem;
	}
}


.licensies{
	margin: 2rem 0 5rem;
	a{
		max-width: 270px;
		display: block;
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}


a[data-fancybox]{
	display: block;
	position: relative;
	&:before,
	&:after{
		@extend .before;			
		opacity: 0;
		transition: opacity .3s;
	}
	&:before{
		background: rgba(0,0,0,.3);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
	&:after{
		background: url(../images/zoom.png) no-repeat center;
		height: 56px;
		left: 50%;
		top: 50%;
		width: 54px;
		transform: translate(-50%, -50%);
	}
	&:hover{
		&:before,
		&:after{
			opacity: 1;
		}
	}
}


#single-carousel{
	margin: 4rem 0 3.5rem;
	.slick{
		&-arrow{
			background-color: rgba(0,0,0,.7);
			height: 50px;
			width: 87px;
			z-index: 99;
			filter: none;
			text-align: left;
			padding-left: 27px;
			&:hover{
				background-color: $color1;
				padding-left: 35px;
			}
		}
		&-prev{
			left: -33px;
		}
		&-next{
			right: -33px;
		}

		&-slide{
			img{
				width: 100%;
			}
		}
	}
}


#single-carousel ~ .project__about{
	margin-top: -3.5rem;
}

.project{
	&__about{
		background-color: $color8;
		color: $color5;
		padding: 1.5rem;
		line-height: 1.8;
	}
	&__text{
	}

	&__area{
		flex-shrink: 0;
		padding-left: 2rem;
	}
}


.client{
	color: #d9d9d9;
	font-size: 1.8rem;
	margin-top: 3rem;
	&__body{
		background-color: $color4;
		display: inline-block;
		padding: .5rem 1.2rem;
	}
	p{
		margin: 0;
	}
	strong{
		color: $color2;		
	}
}


.object-place{
	color: $color6;
	margin-top: -2rem;
	padding: 2.5rem 0;
	position: relative;
	h3{
		font-size: 1.4rem;		
	}
	&:before{
		@extend .before;
		border-top: 1px solid $color4;
		left: 0;
		top: 0;
		width: 15rem;
	};
}



.content-aside{
	margin-top: 3rem;
	.content{
		padding-bottom: 0;
	}
}
aside{
	div.submenu{
		background-color: $color4;
		color: $color2;
		padding: 1rem;
		li{
			margin: .3rem 0;
		}
		a{
			color: $color2;
			display: block;
			padding: .2rem .7rem; 
		}
		.active a,
		a:hover{
			background-color: $color2;
			color: $color1;
			text-decoration: none;
		}
	}

	select.submenu{
		margin: 0 auto 3rem;
		width: 250px;
		display: block;
		height: 3rem;
		font-size: 1.6rem;
	}
}

div.pagination{
	display: flex;
	padding-bottom: 2rem;
	padding-left: 25.6rem;
	ul{
		border-top: 1px solid $color4;
		display: flex;
		padding: 1.7rem 1.5rem 0;
		li{
			margin: 0 .5rem;
			&.active{
				a,span{
					background-color: $color4;
					color: $color2;
					text-decoration: none;					
				}
			}
		}
	}
	a{
		align-items: center;
		border: 1px solid $color4;
		color: $color4;
		display: block;
		display: flex;
		height: 3rem;
		justify-content: center;
		width: 3rem;
		&:hover{
			background-color: $color4;
			color: $color2;
			text-decoration: none;
		}
	}
}


