@media (max-width: 1650px){
	.homepage .about{
		background-position: right -150px top
	}
}


@media (max-width: 1450px){
	.homepage{
		background-position: -250px 80px;
	}

	.linkbox {
		background-position: right -250px top;		
	}

	.lastnews{
		background-position: -320px top;
	}
}



@media (max-width: 1399px){
	.project{
		&__link{
			width: 100%;
		}
		&__pic{
			img{
				max-width: 100%
			}
		}
	}

	.history .slick-slider{
		width: 410px;
	}
}


@media (max-width: 1250px){
	.homepage{
		background-position: -450px 80px;
		.about{
			background-position: right -250px top;
			min-height: 620px;
		}
		.history{
			margin-top: 0;
			background-position: left -200px top 40px
		}
	}

	.linkbox {
		background-position: right -450px top;		
	}


	#modal-history,
	#modal-projects,
	#modal-bim{
		transform: translateX(-50%);
		margin-left: 0;
	}


	.history .slick-slider{
		width: 340px;
	}

	.footer .lastprojects{
		&__item{
			margin-right: 1.5rem !important;
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}
}



@media (max-width: 1080px){
	.project__title{
		font-size: 2.2rem;
		overflow: hidden;
	}
}


@media (max-width: 991px){
	.homepage{
		.about{
			background: none !important;
			min-height: 0;
			margin-bottom: 2rem;
		}
		.projects{
			margin-top: 7rem;
			&__item{
				margin-top: 1.5rem !important;
			}
			header{
				padding-left: 0;
				text-align: center;
			}
			.more{
				margin-left: 0;
				text-align: center;
			}
		}
	}

	.history,
	.linkbox,
	.lastnews{
		background: none !important;
	}

	.homepage .history .cd-timeline-block{
		margin-bottom: 4rem;
	}

	.linkbox{
		min-height: 0;
		margin-top: 0;
		padding-top: 1rem;
	}

	.project{
		&__pic{
			img{
				height: auto;
				width: 100%;
			}
		}
	}

	.lastnews{
		margin-top: 0;
		padding-top: 5rem;
	}


	// history
	.history{
		.cd-date{
			left: 116%;
		}
		.slick-slider{
			width: 240px;
		}
	}


	// activity
	.activity__plate{
		margin: 3rem;
	}


	main{
		.gallery{
			a{
				width: 32%;
			}
		}
	}

	.inner{
		.main{
			h1{
				text-align: center;
			}
		}
	}

}


@media (max-width: 990px){
	.history{
		.cd-timeline-content{
			width: 100%;
			.cd-date{
				min-height: 0;
			}
			.date{
				font-size: 2rem;
				margin-bottom: 0;
			}
		}
		.slick-slider{
			width: 540px;
		}		
	}
}


@media (max-width: 980px){
	.homepage{
		background-position: -600px 80px;
	}

}


@media (max-width: 890px){
	.history .cd-timeline-content{
		width: 90%;
	}
}


@media (max-width: 850px){
	.homepage{
		background-position: right 100px top 80px;
	}

	.homepage .timeline{
		left: 15px;
		margin-right: 15px;
	}
}


@media (max-width: 768px){
	.homepage{
		background: none !important;
	}

	.catline{
		margin-top: 5rem;
	}

	.linkbox{
		ul{
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		li{
			margin-left: 0 !important;
		}
	}
}



@media (max-width: 767px){
	.project__link{
		max-width: 278px;
		margin-left: auto;
		margin-right: auto;
	}

	.lastnews{
		.more{
			margin-top: 6rem;
			text-align: center;
		}
	}

	header,
	main,
	.main {
		h1{
			text-align: center;
		}
	}

	.homepage .activity__menu{
		overflow: hidden;
		margin-left: -15px;
		margin-right: -15px;
	}

	.about,
	.history{
		.more{
			text-align: center;
		}
	}

	.history .slick-slider{
		width: 350px;
	}

	.activity__link{
		max-width: 23rem
	}

	.licensies{
		margin-bottom: 0;
		a{
			margin-bottom: 2rem;
		}
	}

	.accordion{
		.collapse-pic{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-left: 0;
			a{
				display: inline-block;
			}
		}
	}

	.inner{
		.news__list{
			.item-news__desc{
				margin-left: 0;
				margin-top: 2rem;
			}
		}

		.pagination{
			padding-left: 0;
			justify-content: center;
		}
	}

	#single-carousel{
		.slick-slide{
			img{
				height: auto;
				display: block;
				width: 100%;
			}
		}
	}

	.project__area{
		padding-left: 0;
		padding-top: 1rem;
	}
}


@media (max-width: 650px){
	.catline{
		display: none !important;
	}
}

@media (max-width: 576px){
}


@media (max-width: 570px){
	.inner .history{
		.cd-timeline-content{
			width: 85%;
		}
		.slick-slider{
			width: 280px;
		}
	}
}

@media (max-width: 550px){
	.about,
	.activity,
	.item-news__text,
	main
	{
		text-align: justify;
	}

	main{
		h1{
			text-align: center;
		}
	}
}


@media (max-width: 500px){
	.news__item{
		display: block !important;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
	}

	.item-news{
		&__desc{
			margin-left: 0;
		}
		&__text{
			margin-top: 1rem;
		}
	}

	.homepage .projects__list{
		margin-top: 1.5rem;
	}

	.accordion .btn{
		font-size: 1.6rem;
	}
}

@media (max-width: 450px){
	.inner .history{
		.slick-slider{
			width: 250px;
		}
	}
}


@media (max-width: 400px){
	.inner .history{
		.slick-slider{
			width: 180px;
		}
		.cd-timeline-content{
			width: 250px;
		}
	}
}



@media (max-width: 350px){
	.homepage{
		.cd-timeline-content .cd-date{
			left: 15px !important;
		}
		.history .cd-timeline-content{
			overflow: hidden;
			width: 87%;
		}
		.cd-timeline-content{
			margin-left: 30px;
		}
	}

	.inner .history{
		.cd-timeline-box{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.slick-slider{
			width: 180px;
		}

		.slick-arrow{
			display: none;
		}
		.cd-timeline-content{
			width: 220px;
		}
	}

}