@media (max-width: 1550px){
	.navmenu .subnav{
		left: 50%;
		transform: translateX(-45%);
		ul{
			flex-wrap: wrap;
		}
		a{
			white-space: nowrap;
		}
	}
}


@media (max-width: 1450px){
	.slogan{
		padding-left: 600px;
	}
}

@media (max-width: 1250px){
	.slogan{
		padding-left: 400px;
	}

}


@media (max-width: 991px){
	.footer{
		&__menu{
			margin-bottom: 1.5rem;
			.column{
				margin-right: 0;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		.copyright{
			margin-top: 1.5rem;
		}
		.creators{
			margin-top: 2rem;
		}
	}
}


@media (max-width: 980px){
	.slogan{
		padding-left: 220px;
	}
}

@media (max-width: 768px){
	.header{
		padding-bottom: 0;
	}

	.slogan{
		font-size: 3.2rem;
		padding-top: 7rem;
		padding-left: 34%;
		.num{
			font-size: 11rem;
		}
	}
}

@media (max-width: 575px){
	.main-grid{
		display: block !important;
	}
	.footer{
		text-align: center;
		&__menu{
			// text-align: center;
			.column{
				margin-bottom: 2.5rem;
			}
		}

		.lastprojects{
			justify-content: center;
		}

		.social{
			margin-top: 1rem;
			ul{
				justify-content: center;
			}
		}
	}
}


@media (max-width: 550px){
	.logo{
		flex-direction: column;
		img{
			margin: 1rem 0;
		}
	}
	.slogan{
		font-size: 2.6rem;
		padding-left: 0;
		padding-top: 4rem;
		text-align: center;
		.num{
			font-size: 9rem;
		}
	}

	.inner{
		.header{
			padding-bottom: 4rem;
		}
	}
}

@media (max-width: 350px){
	.slogan{
		font-size: 2.2rem;
		padding-top: 2rem;
		.num{
			font-size: 7rem;
		}
	}

	.about{
		margin-top: 4rem;
	}

	.linkbox{
		font-size: 2.4rem;
	}

	h1{
		font-size: 2.6rem;
	}
}
