.accordion{
	.card{
		margin: 1rem 0;
	}
	.collapse-text{
		flex-grow: 1;
	}
	.collapse-pic{
		padding-left: 2rem;
	}
	.btn{
		background-color: $color4;
		background-image: linear-gradient(to right, $color4, #8bb2ba);
		border: none;
		color: $color2;
		cursor: pointer;
		display: block;
		margin: 0;
		font-size: 1.8rem;
		padding: 1.5rem;
		position: relative;
		text-align: left;
		width: 100%;
		text-transform: uppercase;


		&.collapsed{
			background-color: #848484;
			background-image: linear-gradient(to right, #848484, #cacaca);
			&:before{
				content: "+";
			}
			&:hover{
				background-image: linear-gradient(to right, $color4, #8bb2ba);
			}
		}

		&:before{
			border: none;
			content: "-";
			font-size: 3rem;
			height: 15px;
			left: auto;
			line-height: .5;
			right: 20px;
			text-align: center;
			top: 50%;
			margin-top: -8px;
			width: 15px;
		}

		&:after{
		}

	}
	.card-body{
		padding: 2rem 0;
	}
}